<html>
<head>
  <title>How to play Sudoku</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
    
  </div>
</body>
</html>
